<%- include('_head'); %>

<body>
    <h1 id="welcome"><%= linktitle %></h1>


    <div class="inner-div">
        <div class="link-objects">
        <img src="<%= image %>">
            <a href="<%= youtube %>">
                <div class="link-object">
                    </div>
                </a>

                <a href="<%= spotify %>">
                    <div class="link-object">
                        </div>
                    </a>

                    <a href="<%= deezer %>">
                        <div class="link-object">
                            </div>
                        </a>

                        <a href="<%= itunes %>">
                            <div class="link-object">
                                </div>
                            </a>

                            <a href="<%= soundcloud %>">
                                <div class="link-object">
                                    </div>
                                </a>

                                <a href="<%= tidal %>">
                                    <div class="link-object">
                                        </div>
                                    </a>

                                    <a href="<%= amazonmusic %>">
                                        <div class="link-object">
                                            </div>
                                        </a>

                                        <a href="<%= applemusic %>">
                                            <div class="link-object">
                                                </div>
                                            </a>

                                            <a href="<%= audius %>">
                                                <div class="link-object">
                                                    </div>
                                                </a>
                                                            <a href="<%= beatport %>">
                                                <div class="link-object">
                                                    </div>
                                                </a>
                                                </div>
    </div> 
</body>
